{% extends "base.html" %}
{% block content %}
<div class="content_title">contact</div>



<div class="contact_content_wrapper">
<div class="contact_picture">
<img src="{{ url_for('static',filename='pictures/contact_picture.jpg') }}" alt="hermit" width="250" height="300">
</div>

<div class="contact_text">

Sei gegrüßt!
<br>
<br>
You can call me ceph. I am not 1337, nor am I gifted in any way. I just take a grand interest in the old internet and the groups which were roaming through that forgotten wasteland of information.
<br>
<br>
If I am not dwelling over the internet 1.0, I try to increase my knowledge in the fields of reverse engineering, programming or playing ctfs. You have my permission to test the thickness of the walls surrounding this 
little sanctuary of mine, but I would like to know where the cracks are. 
<br>
<br>
If you want to contact me, shoot me an e-mail at cryonics at base64("cHJvdG9ubWFpbA==") dot org

</div>
</div>



{% endblock %}

