{% extends "base.html" %}
{% block content %}
<div class="content_title">Welcome to the 7th circle of [s]hell</div>

<div class="welcome_content_wrapper">

<div class="welcome_picture"><img src="{{ url_for('static',filename='pictures/gate_to_hell.jpg') }}"width="250" height="300"></div>

<div class="welcome_text">

The Seventh Circle of Hell is divided into three rings. The Outer Ring houses murderers and others who were violent to other people and property. Here, Dante sees Alexander the Great (disputed), Dionysius I of Syracuse, Guy de Montfort and many other notable historical and mythological figures such as the Centaurus, sank into a river of boiling blood and fire. In the Middle Ring, the poet sees suicides who have been turned into trees and bushes which are fed upon by harpies. But he also sees here profligates, chased and torn to pieces by dogs. In the Inner Ring are blasphemers and sodomites, residing in a desert of burning sand and burning rain falling from the sky.

</div>
</div>
{% endblock %}
